header{width: 100%; height: 450px; background: #f6e25d;}
.headerBoxs{width: 100%; height: 450px; position: relative;}
.headerBoxs .mainBoxs{width: 70%; height: 450px; margin: 0 auto; display: flex;}
.headerBoxs .mainBoxs .boxL{width: 50%; height: 450px;position: relative;}
.headerBoxs .mainBoxs .boxL h1{position: absolute; top:180px; right: 175px; z-index:99; font-family: 'Noto Sans KR', sans-serif; line-height: 26px;color: #000;}
.headerBoxs .mainBoxs .boxL #panBox{fill: #fff; height: 450px; position: 
 absolute; right: 0; top: 0;}
.st0{fill:#999A9C;}
.headerBoxs .mainBoxs .boxL #panBox .gBox{background: #999a9c;}
.headerBoxs .mainBoxs .boxR{width: 50%; position: relative;}
.headerBoxs .mainBoxs .boxR h2{width: 100%; bottom: 0; position: absolute; font-size: 60px;}

.whiteBoxs{width: 100%; position: absolute;}
.whiteBoxs .gBox{width: 35%; height: 120px; top: 0; left: 0; background: rgba(107, 107, 107, 0.5);}
.whiteBoxs .wBoxT{width: 20%; height: 80px; top: 290px; right:30%; position:absolute; background: rgba(250, 250, 250, 0.5);}
.whiteBoxs .wBoxB{width:25%; height: 80px; position:absolute; background: rgba(250, 250, 250, 0.5); top: 370px; right: 25%;}


/* origin contents section style */


.contents{padding: 100px 0; }

.contents .content{width: 100%; height: auto; display:flex; margin: 0 auto;position: relative;}
.content .designBoxL{width: 45%; height: 120px; background: #f6e25d; position: absolute; margin-top: 300px;}
.content .designBoxR{width: 70%; height: 550px; top:50px; z-index: -5; background: #f6e25d3b; position: absolute; right: 0;}
.content .designBoxL{box-shadow: 10px 10px 30px 1px;}
.content .imgBox{width: 45%; height: 450px; position: relative} 
.content .imgBox .imgtitle{display: flex; position: absolute;   transform: rotate(90deg); top:200px; width: 400px;right: 250px; font-family: 'Lucida Sans', sans-serif;}
.content .imgBox .imgtitle .title{font-family: 'Noto Sans KR'; font-size: 25px;}
.content .imgBox .imgtitle span{width: 235px; border-bottom: 2px solid; margin: 5px; box-shadow: 10 -10 10 10 #b6b8bb81;}
.content .imgBox .imgpart {position: absolute; width: 100%; height: 50%;
}
.content .imgBox .imgpart img{width: 355px; height: 355px; position: absolute;right: 75px;}


.contents .txtBox{width: 55%;}
.content .txtBox .txtcon{width: 50%; font-size: 20px;}
.content .txtBox .txtcon h3{font-size: 30px; line-height: 2;}
.content .txtBox button{width: 100px; height: 50px; margin: 50px 0; font-size: 18px; color:#444E;}
.content .txtBox .txtcon em{font-style: normal;}
.content .txtBox button:hover{color: #444;}
/* Second content style */

.secondCon .designBoxL{background: #999a9c; right: 0;}
.secondCon .imgBox{order: 2;}
.secondCon .imgBox .imgtitle{left: 250px;}
.secondCon .imgBox .imgtitle span{border-top: 2px solid; border-bottom: none;}
.secondCon .imgBox .imgpart img{left: 75px;}
.secondCon .txtBox .txtcon{font-size: 20px; text-align: end; margin: 0 0 0 50%;}    
.secondCon .txtBox button{float: right;}

/* third Content style */
.thirdCon .designBoxR{width: 40%; height: 400px; top:40px; background: #999a9c4b; left: 0; z-index: -20;}

/* --------------------- */

.moretap {width: 100%;
    display: flex; position: relative;}

.moretap .moreborder{width:70%; height: 250px; border: 2px solid #f6e25d; margin: 0 auto; position: absolute; justify-content: center;align-items: center}

.moretap  .moreBoxs{width: 70%; height: 100%; margin: 0 auto; display: flex; justify-content: center;align-items: center; position: relative;}
.moreBoxs .moreTxtBox,.moreBoxs .moreImg{width: 20%; height:180px; display: inline-block; overflow: hidden;}
.moreImg img{width: 100%;}
.moreBoxs .moreTxtBox b{font-style: normal; font-size: 30px; font-family: 'Do Hyeon', sans-serif; line-height: 15px;}

.moretap .thinBoxG{width: 31%; height: 40px; background:#999a9c; position: absolute; top: 0px; right: 90%; line-height: 3px;}
.moretap .thinBoxY{width: 31%; height: 40px; background: #f6e25d; position: absolute; left:90%; bottom: 0;}